@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html {
    background-color: rgb(172, 172, 172);;
}

.container {
    margin-left:250px;
    width: 80%;
    font-family: 'Titillium Web', sans-serif;
    
}

nav {
    margin-left: 0px;
    width: 15%;
    height: 100%;
    position: fixed;
    text-align: right;
}
nav div {
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.logo a {
    font-size: 35px;
    font-weight: bold;
    color:black;

}
.logo a:hover {
    font-weight: bolder;
}

.links {
    font-weight: bold;
    font-size: 20px;
}

.selected {
    color:rgb(131, 7, 7);
    font-weight: bolder;
}

table {
    
}